<div class="container-all-task">
    <ul class="list-task">
        <li class="task"> 📋 Terminar esta tarea</li>
        <li class="task"> 📋 Terminar esta tarea</li>
        <li class="task"> 📋 Terminar esta tarea</li>
        <li class="task"> 📋 Terminar esta tarea</li>
        <li class="task"> 📋 Terminar esta tarea</li>
        <li class="task"> 📋 Terminar esta tarea</li>
        <li class="task"> 📋 Terminar esta tarea</li>
        <li class="task"> 📋 Terminar esta tarea</li>
    </ul>
</div>