.container-all-task{
    display: flex;
    justify-content: center;
    /* width: 100%; */
}
.list-task{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    flex: 0 1 400px;
}
.task{
    color: rgb(255, 255, 255);
    background-color: rgba(167, 33, 78, 0.658);
    padding: 10px;
    display: flex;
    border-radius: 6px;
}