<div class="container-all-task">
    <ul class="list-task">
        <ul class="task">
            <app-categories></app-categories>
            <li> 📋 Terminar esta tarea</li>
        </ul>

        <ul class="task">
            <app-categories></app-categories>
            <li> 📋 Terminar esta tarea</li>
        </ul>        

        <ul class="task">
            <app-categories></app-categories>
            <li> 📋 Terminar esta tarea</li>
        </ul> 

        <ul class="task">
            <app-categories></app-categories>
            <li> 📋 Terminar esta tarea</li>
        </ul>      
          
        <ul class="task">
            <app-categories></app-categories>
            <li> 📋 Terminar esta tarea</li>
        </ul>        

        <ul class="task">
            <app-categories></app-categories>
            <li> 📋 Terminar esta tarea</li>
        </ul>
    </ul>
</div>