.container-input{
    display: flex;
    justify-content: center;
}
.input-task{
    flex: 1;
    min-width: 50px; 
    max-width: 200px;     
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 1px;
}
.input-task:focus, .button-task:focus {
    outline: 1px solid rgb(167, 33, 78);
}
.button-task{
    flex: 0 0 80px;
    padding: 2px 6px;
    background-color: rgb(167, 33, 78);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button-task:hover{
    background-color: rgb(145, 29, 68)
}